<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ApplicationInsights" version="2.14.0-beta3" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.23" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Deployment" version="9.0.2.23" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Extensions" version="7.1.0.1" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.2.23" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="9.1.0.38" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="4.5.1" targetFramework="net462" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.21" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net462" />
  <package id="Serilog" version="2.9.1-dev-01154" targetFramework="net462" />
  <package id="Serilog.Sinks.Console" version="4.0.0-dev-00839" targetFramework="net462" />
  <package id="Serilog.Sinks.File" version="5.0.0-dev-00864" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.7.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.3" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net462" />
</packages>